Meeting Transcript flow.json
{
  "name": "Meeting Transcript flow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1AOK0C8L4H3cWLX5RIjei3XBfC2zuK3t1",
          "mode": "list",
          "cachedResultName": "sample_teams_transcript.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1AOK0C8L4H3cWLX5RIjei3XBfC2zuK3t1/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        -48
      ],
      "id": "367b6534-cbd1-43e9-9b03-187b631b9d0e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBVVr5Akf6BvQ5JF",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1AOK0C8L4H3cWLX5RIjei3XBfC2zuK3t1",
          "mode": "list",
          "cachedResultName": "sample_teams_transcript.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1AOK0C8L4H3cWLX5RIjei3XBfC2zuK3t1/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -848,
        -48
      ],
      "id": "445b0ff1-21ea-4ab6-b136-5ab518fdcb23",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBVVr5Akf6BvQ5JF",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "transcript",
          "mode": "list",
          "cachedResultName": "transcript"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -672,
        -48
      ],
      "id": "f6b21dbf-9ec0-4fe4-8764-b65e16116ef7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "i07F6I1lyr0gBwzl",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -704,
        144
      ],
      "id": "d6a5d65a-255f-452f-80ab-5cdc14b7e063",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Rd4owr6B746AkBbZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -544,
        160
      ],
      "id": "edcf1058-f835-4eb5-a367-cf58be41e83e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 100,
        "chunkOverlap": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -464,
        368
      ],
      "id": "6709b580-2d7f-4d86-ad5c-b524e977da26",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1072,
        496
      ],
      "id": "e8b6fe18-5140-4f95-897a-44b0e89c8ac2",
      "name": "Telegram Trigger",
      "webhookId": "756de5cd-b421-4ed3-87f8-aebe70c3ec35",
      "credentials": {
        "telegramApi": {
          "id": "mWN0ZZCtI3n0xATa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant. Only respond to queries that are specifically related to the attached transcript and the information contained within it. If the user asks about anything outside of the transcript’s content, politely decline and guide them to focus on the provided transcript. Always base your answers strictly on the transcript without adding unrelated or speculative information."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -864,
        496
      ],
      "id": "9787cf0d-cfae-440f-9234-37843c31ebcd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1008,
        704
      ],
      "id": "a47c9b3b-9dce-4673-9bfb-bf6159b90dd4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Rd4owr6B746AkBbZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -864,
        704
      ],
      "id": "e7a48e1d-9ffc-4b93-9ff8-0d23c3cc9112",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "disable_notification": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        496
      ],
      "id": "c82d8222-76aa-4c88-bd7a-cfd0a4bcc787",
      "name": "Send a text message",
      "webhookId": "cc0139b3-62fa-4c93-a8ec-49313d4596e3",
      "credentials": {
        "telegramApi": {
          "id": "mWN0ZZCtI3n0xATa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "transcript",
          "mode": "list",
          "cachedResultName": "transcript"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -672,
        736
      ],
      "id": "6a8ca18e-6d68-4db7-ba69-572d3a926e0d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "i07F6I1lyr0gBwzl",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -592,
        944
      ],
      "id": "b3f6ee5d-64a6-45a6-a61e-10ec41cf63af",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Rd4owr6B746AkBbZ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e1ea92c-c64e-4e13-83ab-daba7f160454",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9107766a7fb6a101b38879ab77fe086a2d1cea32c979121a6c0ec015adb8cc58"
  },
  "id": "Nkdj5SZzBO3XRjHZ",
  "tags": []
}